name: Build APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Cài đặt các thư viện cần thiết cho Buildozer
      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          command: buildozer android debug
          buildozer_version: master

      # BƯỚC QUAN TRỌNG: Sửa quyền file để GitHub có thể đọc được file APK
      - name: Fix permissions
        run: |
          sudo chown -R $USER:$USER bin

      # Upload file APK sau khi build xong
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
